/* About Section */
.about-section {
  margin: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #001523;
  color: #f4f4f4; 
}

.about-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  max-width: 1200px; 
  margin: 0 auto;
  flex-wrap: nowrap;
}

/* Image Card with Polaroid Effect */
/* .about-image-card {
  flex: 1.2;
  max-width: 450px;
  display: flex;
  flex-direction: column; /* Ensure the link appears below the image */
  /* align-items: center; /* Center the image and link */
  /* justify-content: center;
} */ 
/*
.about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 10px solid white;
  padding-bottom: 20px;
} */

/* Resume Link */
.resume-link {
  margin-top: 120px; 
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.resume-link:hover {
  color: #f4f4f4cc;
}


/* Content Section */
.about-content {
  flex: 2.5;
  text-align: left;
}

h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #f4f4f4;
}

p {
  margin-bottom: 20px;
  font-size: 1.7rem;
  color: #cccccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image-card {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 20px;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }
}
